@*<span class="fa-stack fa-lg">
      <a href="@Url.Action("XemGioHang","GioHang")" style="color:white">
           <i class="fa fa-shopping-cart fa-stack-2x"></i> 
      </a>
     
</span>
(@ViewBag.sl)*@

  <a class=" nav-link" href="@Url.Action("XemGioHang","GioHang")" style="color:white" >
     <span class="fa-stack fa-lg">
                            <i  style="font-size:40px;color:orange" class="fa fa-shopping-cart fa-stack-2x"></i>
         </span>
       (@ViewBag.sl)
  </a>
